.container {
    overflow: hidden;

    .home-page {
        position: relative;
        width: 100vw;
        height: 100vh;
        background-image: url('~assets/img/main-page-bg-1.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

        .home-page-animoji {
            position: absolute;
            top: 8px;
            right: 70px;
            width: 50px;
            transform: rotate(32deg)
        }

        .home-page-tittle {
            position: absolute;
            bottom: 40px;
            left: 0;
            font-family: "Over the Rainbow";
            font-size: 6em;
            transform: rotate(15deg);
            font-weight: 100;
            line-height: .8;
        }
    }
}

.slide-enter-active,
.slide-leave-active {
    transition: .3s;
}

.slide-enter,
.slide-leave-active {
    transform: translateX(100vw);
}